<section class="container py-2">
  <form [formGroup]="costumerForm">
    <div class="text-center">
      <h2 class="border-bottom border-danger d-inline px-5">Editar cadastro</h2>
    </div>
    <div>
      <label for="registerEmail" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        id="registerEmail"
        readonly
      />
    </div>
    <div>
      <label for="costumerName" class="form-label">Nome</label>
      <input
        type="text"
        class="form-control"
        formControlName="name"
        id="costumerName"
      />
    </div>
    <div class="form-text text-danger" *ngIf="costumerForm.get('name')?.errors && costumerForm.get('name')?.touched">O nome é obrigatorio*</div>
    <div>
      <label for="cpf" class="form-label">Cpf</label>
      <input
        type="string"
        class="form-control"
        formControlName="cpf"
        id="cpf"
      />
      <div class="form-text text-danger" *ngIf="costumerForm.get('cpf')?.errors && costumerForm.get('cpf')?.touched">Cpf inválido*</div>
    </div>
    <div>
      <label for="oldPassword" class="form-label">Senha atual</label>
      <input
        type="password"
        class="form-control"
        formControlName="oldPassword"
        id="oldPassword"
      />
      <div class="form-text text-danger" *ngIf="costumerForm.get('oldPassword')?.errors && costumerForm.get('oldPassword')?.touched">
        É necessário inserir sua senha atual*
      </div>
    </div>
    <div>
      <label for="password" class="form-label">Nova senha</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        id="password"
      />
      <div class="form-text text-danger" *ngIf="costumerForm.get('password')?.errors && costumerForm.get('password')?.touched && costumerForm.get('password')?.value !== ''">
        A senha precisa ter 8 dígitos*
      </div>
    </div>
    <div>
      <label for="passwordConfirmation" class="form-label"
        >Confirme sua senha</label
      >
      <input
        type="password"
        class="form-control"
        formControlName="passwordConfirmation"
        id="passwordConfirmation"
      />
      <div class="form-text text-danger" *ngIf="costumerForm.get('passwordCofrimation')?.errors && costumerForm.get('passwordCofrimation')?.touched">As senhas são diferentes</div>
    </div>
    <div class="text-center">
      <button class="btn btn-success mt-3" (click)="sendUpdate()">Atualizar</button>
    </div>
  </form>
</section>
