<header>
  <nav class="navbar navbar-expand-lg container">
    <div class="container-fluid">
      <a routerLink="" class="navbar-brand text-light">Portal do Seller</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="" class="nav-link active text-light" aria-current="page">Dashboard</a>
          </li>
          <li class="nav-item">
            <a routerLink="pedidos" class="nav-link active text-light" aria-current="page">Pedidos</a>
          </li>
          <li class="nav-item">
            <a routerLink="produtos" class="nav-link active text-light" aria-current="page">Produtos</a>
          </li>
          <li class="nav-item">
            <a routerLink="clientes" class="nav-link active text-light" aria-current="page">Clientes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
