<div class="card shadow" style="width: 250px">
  <div class="card-header bg-white">
    <img
      src="http://localhost:3000/public/uploads/products/{{ product.sku }}.jpg"
      class="card-img-top"
      style="height: 250px"
      alt="..."
    />
  </div>
  <div class="card-body">
    <h5 class="card-title text-truncate">{{ product.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ priceFormatter() }}</h6>
    <div class="d-flex flex-column gap-1">
      <button class="btn btn-success">Adicionar ao carrinho</button>
      <button class="btn btn-outline-success" (click)="goToProduct()">Ver detalhes</button>
    </div>
  </div>
</div>
