<header>
  <nav class="navbar navbar-expand-lg bg-red">
    <div class="container-fluid container">
      <a class="navbar-brand link-light" routerLink="">Portal do Seller</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto py-1 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active link-light"
              aria-current="page"
              routerLink=""
              >Produtos</a
            >
          </li>
        </ul>
        <span class="w-50 py-1">
          <form class="input-group" role="search" [formGroup]="searchForm">
            <input
              type="text"
              class="form-control border border-light"
              placeholder="Buscar produto"
              aria-label="Buscar produto"
              formControlName="search"
            />
            <button
              class="btn btn-outline-light"
              type="button"
              (click)="searchProduct()"
            >
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
        </span>
        <div class="d-flex align-items-center ms-auto gap-4 py-1">
          <div class="" *ngIf="!isAutenticatedUser()">
            <a
              routerLink="login"
              class="link-underline link-underline-opacity-0 link-light"
              >Entrar / Cadastrar</a
            >
          </div>
          <div
            class="d-flex align-items-center gap-4"
            *ngIf="isAutenticatedUser()"
          >
            <a
              routerLink="usuario/editar"
              class="link-underline link-underline-opacity-0 link-light"
              ><i class="fa-solid fa-user"></i> Editar Perfil</a
            >
            <a
              routerLink="pedidos"
              class="link-underline link-underline-opacity-0 link-light"
              ><i class="fa-solid fa-box"></i> Meus pedidos </a
            >
            <a routerLink="carrinho" class="text-light">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
            <button class="btn text-light p-0" (click)="exit()">
              <i class="fa-solid fa-right-from-bracket"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
