<section>
  <app-general-list>
    <th scope="col" slot="fields" *ngFor="let field of fields">{{ field }}</th>
    <tr slot="data" *ngFor="let item of data">
      <th scope="row">{{ item._id }}</th>
      <td>{{ item.costumer_cpf }}</td>
      <td>{{ item.total }}</td>
      <td>
        <a (click)="gotToOrder(item._id)" class="btn btn-warning"
          ><i class="fa-solid fa-pencil"></i
        ></a>
      </td>
    </tr>
  </app-general-list>
  <app-paginator
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (onPageChange)="onPageChange($event)"
  ></app-paginator>
</section>
